@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6.7%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 6.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6.7%;
    --primary: 211 96% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 7.7% 97.5%;
    --secondary-foreground: 0 0% 0%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 100% 97%;
    --accent-foreground: 211 96% 47%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 211 96% 47%;
    --radius: 0.5rem;
    --canvas: 45 10% 96%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

